<%- include ('../partials/header') %>
  <%- include ('../partials/menu') %>

<main style="background: #6a11cb;">
    <body style="background: #6a11cb;">
        <div class="container">
            
        </div>
    </body>
</main>

<%- include ('../partials/footer') %>