<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main style="background: #6a11cb;">

    <div class="container"> 
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
  
      <p> ERROR</p>
  
    </div>
  </main>

<%- include ('../partials/footer') %>