<%- include ('../partials/header') %>

<main style="background: #6a11cb;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div class="text-white">
          <h1 class="display-3 font-weight-bold">Let's get it started!</h1>
          <h2 class="display-4">The party's waiting!</h2>
        </div>
      </div>

      <div class="col-lg-6">
        <form action="/login" method="POST">
          <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-12 col-xl-10">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                      <div class="mb-md-5 mt-md-4 pb-5">

                        <h2 class="display-3 font-weight-bold">Login</h2>
                        <% if(locals.denied === true) { %>
                          <h3> Incorrect Username or Password</h3>
                          <% } %>
                        <p class="text-white-50 mb-5">Please enter username and password!</p>

                        <div class="form-outline form-white mb-4">
                          <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Username" />
                        </div>

                        <div class="form-outline form-white mb-4">
                          <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password" />
                          <!-- <label class="form-label" for="passwordLabel">Password</label> -->
                        </div>

                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                      </div>

                      <div>
                        <p class="mb-0">Don't have an account? <a href="/register" class="text-white-50 fw-bold">Sign Up</a>
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
