<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main style="background: #6a11cb;">

  <div class="container"> 
    <!-- PROFILE PAGE HTML CODE STARTS HERE -->
    <div style="text-align:center;">
      <div class="card mb-3" style="max-width: 30rem;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://via.placeholder.com/150" alt="Profile Picture" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bolder;">Username</h5>
              <p class="card-text">First Name: </p>
              <p class="card-text">Last Name: </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 30rem;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://via.placeholder.com/150" alt="Parties Attended" class="img-fluid rounded-circle">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" id="parties-attended">Parties Attended</h5>
              <p class="card-text">3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PROFILE PAGE HTML CODE ENDS HERE -->    
  </div>
</main>

<%- include ('../partials/footer') %>

